<p>servers works!</p>
<app-server></app-server>
<hr/>

<br />
<p>This is Server ID: {{ serverID }}</p>
<input type="text" class="form-control" [(ngModel)]="serverID" />

<p *ngIf="isCreated"> Server was created! </p>
<button [disabled]="isDisabled" (click)="onClick()" class="btn btn-danger">Click Me!</button>

<!-- <ul>
    <li *ngFor="let srvr of server_list">
        <button class="btn btn-primary">{{ srvr }}</button>
    </li>
</ul> -->

<input type="text" class="form-control" [(ngModel)]="my_shopping_list" />
<div [ngSwitch]="my_shopping_list">
    <p *ngSwitchCase="'cups'">cups</p>
    <p *ngSwitchCase="'veg'">veggies</p>
    <p *ngSwitchCase="'cloth'">clothing</p>
    <p *ngSwitchDefault>MyShopping</p>
</div>



<br /><br /><br />